* {
   margin: 0;
   padding: 0;
}

.item {
   height: 30vh;
   display: flex;
   position: relative;
   background-color: #51b688;
}

.item p {
   font-family: 'Istok Web', sans-serif;
   font-size: 12px;
   letter-spacing: .3rem;
   padding-top: 20px;
   padding-left: 40px;
   color: white;
}

.navbar {
   margin-top: 40px;
   margin-left: 740px;
}

.section-01 {
   background-color: #51b688;
   height: 70vh;
   text-align: center;
}

.section-01 h1 {
   font-family: 'Archivo Black', sans-serif;
   font-size: 60px;
   color: white;
}

.section-01 h2 {
   font-family: 'Archivo Black', sans-serif;
   font-size: 40px;
   color: black;
}

.contents {
   font-family: 'Istok Web', sans-serif;
   font-size: 12px;
   color: white;
   text-align: center;
   line-height: 1.1rem;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 160px;
}

.contents span {
   color: black;
}

a:hover img {
   filter: alpha(opacity=70);
   -moz-opacity: .7;
   opacity: .7;
}

.section-02 {
   vertical-align: middle;
   height: 100vh;
}

.section-02 img {
   width: 100%;
   height: auto;
}
